<% include ../views/partials/header %>
<div class="row">
<div class="col-md-6">
<form class="form-group" method="post" action="/task/edit/<%=tasks._id%>">
    <div>
      <label>Task Name</label>
      <input class="form-control" type="text" name="text"  value="<%=tasks.text%>">
    </div>
    <div>
      <label>Task Body</label>
      <textarea class="form-control" name="body" placeholder="Add Body" ><%=tasks.body%></textarea>
    </div>
    <br>
    <button class="btn btn-info" type="submit">Submit</button><a class="btn btn-danger" href="/">Cancel</a>
  </form>

</div>

</div>

<% include ../views/partials/footer %>